[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-vite = "*"
django = "==3.2"
osmnx = "==1.5.0"
scikit-learn = "*"
matplotlib = "*"
mapclassify = "*"
folium = "*"
django-environ = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"

[scripts]
manage = "python manage.py"

[allauth]
django-allauth = "*"

[postgres]
psycopg2-binary = "*"

[deploy]
gunicorn = "*"
